.mt-0 {
  margin-top: 0 !important;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.ms-0 {
  margin-left: 0 !important;
}
.me-0 {
  margin-right: 0 !important;
}
.mx-0 {
  margin-inline: 0 !important;
}
.my-0 {
  margin-block: 0 !important;
}

.mt-2 {
  margin-top: 0.25rem !important;
}
.mb-2 {
  margin-bottom: 0.25rem !important;
}
.ms-2 {
  margin-left: 0.25rem !important;
}
.me-2 {
  margin-right: 0.25rem !important;
}
.mx-2 {
  margin-inline: 0.25rem !important;
}
.my-2 {
  margin-block: 0.25rem !important;
}

.mt-auto {
  margin-top: auto !important;
}
.mb-auto {
  margin-bottom: auto !important;
}
.ms-auto {
  margin-left: auto !important;
}
.me-auto {
  margin-right: auto !important;
}
.mx-auto {
  margin-inline: auto !important;
}
.my-auto {
  margin-block: auto !important;
}
